
#Weekly {
  background-color: white;
  border: 1px solid #ff0000;
  width: 390px;
  height: 61px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px;
	box-sizing: border-box;
}

.todo-status {
	font-size: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}